.createEvent {
  margin-top: 20px;
  display: flex;
  gap: 20px;

  .eventContent {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    color:whitesmoke;

    input {
      padding: 10px;
      border: 1px solid lightgray;
    }

    .editorContainer {
      height: 300px;
      overflow: scroll;
      border: 1px solid lightgray;
    }

    .contentEditor {
      height: 100%;
      border: none;
    }
  }

  .eventMenu {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .eventMenuItem {
    border: 1px solid lightgray;
    padding: 10px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 15px;
    color: whitesmoke;
  }

  .imageUploadContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid lightgray;
    padding: 5px 5px;
  }

  .imageNames {
    font-size: small;
    font-weight: normal;
  }

  .textInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid lightgray;
    padding: 5px 5px;
  }

  .eventDate {
    border: 1px solid lightgray;
    padding: 5px 5px;
  }

  .imageUpload {
    text-decoration: underline;
    cursor: pointer;
  }

  .eventButton {
    display: flex;
    justify-content: space-between;

    :first-child {
      cursor: pointer;
      color: teal;
      background-color: white;
      border: 1px solid teal;
      padding: 3px 5px;
    }

    :last-child {
      cursor: pointer;
      color: teal;
      background-color: teal;
      border: 1px solid teal;
      color: white;
      padding: 3px 5px;
    }
  }
}
